<!-- <a href="/healing/music/<%=mood%>">Music</a>
<a href="/healing/quote/<%=mood%>">Read a Quote</a>
<a href="/journals">Read Your Journal</a>
<a href="/journals/new">Write in Your Journal</a>
<a href="/healing/video/<%=mood%>">Video</a>
<a href="/healing/help/<%=mood%>">HELP</a>
<a href="/healing/workout/<%=mood%>">Workout</a>
<a href="/healing/funny/<%=mood%>">Funny</a> -->
<!-- -------------------------------------------------------------------- -->

<main>

    <div class="content text-center options-content">


        <div id="moods-wrap" class="container options-wrap">
            <div class="container">
                <a href="/healing/video/<%=mood%>"><button class="btn mood-box"><span class="mood-txt options">Cute
                            Boost</span></button></a>
                <a href="/healing/music/<%=mood%>"><button class="btn mood-box"><span class="mood-txt options">Musical
                            Boost</span></button></a>
            </div>
            <div class="container">
                <a href="/healing/quote/<%=mood%>"><button class="btn mood-box options"><span class="mood-txt">Wise
                            Boost</span></button></a>
                <a href="/healing/funny/<%=mood%>"><button class="btn mood-box options"><span class="mood-txt">Funny
                            Boost</span></button></a>
            </div>
        </div>

        <div class="container bottom-btn">
            <a href="/journals" class="btn blue-btn btn-lg btn-block">Open the journal</a>
            <a href="/healing/help/<%=mood%>" class="btn transparent-btn btn-lg btn-block">Talk to
                someone</a>
        </div>
    </div>
</main>